* {
  margin: 0;
  padding: 0;
  
}

body {
  background-color: #020631;
}

.app {
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

/* Design for the heading section */
.headings {
  margin-top: 2.5rem;
}

.subHeading, .mainHeading {
  text-align: center;
  margin-top: 1rem;
  background: -webkit-linear-gradient(rgb(255, 213, 27), #3cd4fe);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Input Section */
.inputOptions {
  width: 35rem;
  height: 3.5rem;
  background-color: white;
  box-shadow: 0 0 2px 1px white;
  margin: auto;
  margin-top: 1rem;
  border-radius: .5rem;
  display: grid;
  grid-template-columns: 80% 10% 10%;
}

.inputSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputOptions .left-input input {
  width: 97%;
  height: 90%;
  margin-top: .8%;
  margin-left: 1%;
  border: none;
  outline: none;
  font-size: x-large;
  font-family: inherit;
  font-weight: bold;
  background: transparent;
}

.inputOptions .middle-input, .inputOptions .right-input {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Design for all i tags */
i {
  cursor: pointer;
}

.inputOptions i {
  font-size: 1.3rem;
  color: rgb(111, 105, 105);
}

.container i {
  font-size: larger;
  margin-top: .16rem;
}

.container .toDo .bin i {
  color: rgb(62, 61, 61);
}

.container .toDo .close i {
  color: rgb(204, 22, 22);
}

.container .toDo .tick i {
  color: rgb(8, 118, 8);
}

.container .toDo .recycle i {
  color: rgb(0, 64, 254);
}

.container i {
  font-size: larger;
  margin-top: .16rem;
}

.container .toDo .bin i {
  color: rgb(69, 69, 69);
}

/* List display section */
.list-sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.list-sec .container {
  width: 30%;
  min-width: 27rem;
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: .5rem;
}

.container {
  width:100%;
  height: 100%;
  margin-top: 2.5%;
  margin-left: 2.5%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: .25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .toDo {
  width: 92%;
  height: 100%;
  background-color: rgb(241, 241, 241, 0.2);
  margin-top: .5rem;
  padding: 5px;
  border-radius: .35rem;
  transition: width 150ms;

}

.container .toDo:hover {
  background-color: rgba(241, 241, 241, 0.313);
  width: 95%;
}

.container .toDo .top p {
  word-wrap: break-word;
  text-align: justify;
  font-size: large;
  font-weight: 700;
  cursor: default;
}

.container .toDo .bottom p {
  font-size: small;
  cursor: default;
}

/* Background Color for each list sections */
.container.onGoing {
  background-color: #03a5d6;
}

.container.done {
  background-color: rgb(6, 169, 30);

}

.container.dropped {
  background-color: #fd2f2f;
}

/* For showing items inside the container */
.container.dropped .toDo, .container.done .toDo, .container.onGoing .toDo {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}

.container.dropped .toDo .top, .container.done .toDo .top, .container.onGoing .toDo .top {
  margin-left: 1rem;
  margin-right: 1rem;
  word-wrap: break-word;
}

.container.dropped .toDo .left, .container.done .toDo .left, .container.onGoing .toDo .left {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.container.dropped .toDo .right, .container.done .toDo .right, .container.onGoing .toDo .right{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.left, .right{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 3rem;
}
.done .left{
  width:1rem;
}
.right{
  margin-left: auto;
}
.top{
  display: flex;
  justify-items: flex-start;
}
.bottom{
  margin-left: 1rem;
  margin-right: 1rem;
}

/* For medium screen devices */
@media only screen and (max-width:950px) and (min-width:430px) {
  .list-sec .container {
    width: 30rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: .5rem;
  }

  .list-sec {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .inputOptions {
    width: 24rem;
  }

  .left, .right{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 2rem;
  }
}

/* For small screen devices */
@media only screen and (max-width:430px) {
  .list-sec .container {
    width:90%;
    min-width: 24rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: .5rem;
  }
  .list-sec {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .container {
    width: 90%;
  }
 
  .inputOptions {
    width: fit-content;
  }
  
  .left, .right{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 2rem;
  }
}

