* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #020631;
}
.app {
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.inputOptions{
   width: fit-content;
   height: 3.5rem;
   background-color: white;
   box-shadow: 0 0 2px 1px white;
   margin: auto;
   margin-top: 1rem;
   border-radius: .5rem;
   display: grid;
   grid-template-columns: 80% 10% 10%;
}
.inputSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subHeading, .mainHeading{
  text-align: center;
  margin-top: 1rem;
  background: -webkit-linear-gradient(rgb(255, 227, 103), #16c5f5);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inputOptions .left input {
  width: 98%;
  height: 90%;
  margin-top: .8%;
  margin-left: 1%;
  border: none;
  outline: none;
  font-size: x-large;
  font-family: inherit;
  font-weight: bold;
  background: transparent;
}

.inputOptions .middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputOptions .right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-sec{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-sec .container{
  width: (90%/3);
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: .5rem;
  
}

i {
  cursor: pointer;
}

.toDoInput i {
  font-size: large;
  color: rgb(84, 84, 84);
}

.container i {
  font-size: larger;
  margin-top: .16rem;
}

.container .toDo .bin i {
  color: rgb(69, 69, 69);
}

.container .toDo .close i {
  color: brown;
}

.container .toDo .tick i {
  color: green;
}

.container .toDo .recycle i {
  color: rgb(46, 75, 164);
}

.container i {
  font-size: larger;
  margin-top: .16rem;
}

.container .toDo .bin i {
  color: rgb(69, 69, 69);
}

.container {
  height: 100%;
  width: 30rem;
  margin-top: 2.5%;
  margin-left: 2.5%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: .25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .toDo {
  width: 95%;
  height: 100%;
  background-color: rgb(241, 241, 241, 0.2);
  margin-top: .5rem;
  padding: 5px;
  border-radius: .25rem;
  transition: width 200ms;
}

.container .toDo:hover {
  background-color: rgba(241, 241, 241, 0.313);
  width: 95%;
}

.container .toDo .top p {
  word-wrap: break-word;
  text-align: justify;
  font-size: large;
  font-weight: 700;
  cursor: default;
}

.container .toDo .bottom p {
  font-size: small;
  cursor: default;
}



.container.onGoing {
  background-color: #03a5d6;
}

.container.onGoing .toDo {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}

.container.onGoing .toDo .top {
  width: 24vw;
}

.container.onGoing .toDo .left {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.container.onGoing .toDo .right {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}




.container.done {
  background-color: rgb(0, 130, 0);

}

.container.done .toDo {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}

.container.done .toDo .top {
  width: 25.5vw;
}

.container.done .toDo .left {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.container.done .toDo .right {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}


.container.dropped {
  background-color: #fd2f2f;
}

.container.dropped .toDo {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}

.container.dropped .toDo .top {
  width: 23.5vw;
}

.container.dropped .toDo .left {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.container.dropped .toDo .right {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
